body {
  background-color: #000000;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 300px;
  margin-left: 300px;
}
header {
  background-color: #ffffff;
  color: #000000;
}
footer {
  background-color: #ffffff;
  color: #000000;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 30px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}